@page "/writepadsadmin"
@using System.ComponentModel.DataAnnotations
@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = IdentityRoleConstants.Admin)]

<div style="height:100%;">
    <Stack VerticalFill="true" HorizontalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
        <StackItem VerticalFill=false Style="width:100%;">
            <Stack Horizontal="true" Wrap="true" Reversed="true" VerticalAlign=Alignment.Center Style="width:100%;">
                <StackItem>
                    <MyBFUText Variant=@TextType.XxLarge>تخته‌ها (صفحه‌ی مدیر) <Icon IconName="WhiteBoardApp32" /></MyBFUText>
                </StackItem>
                <StackItem Grow=1 DisableShrink="true">
                    <CommandBar />
                </StackItem>
            </Stack>
        </StackItem>
        <Hr />
        <StackItem VerticalFill="false" Grow=1 Style="width:100%;overflow:auto;">
            @if (WritepadList is null)
            {
                <Spinner Size=@SpinnerSize.Large Label="در حال بارگیری اطلاعات..." />
            }
            else
            {
                <Stack VerticalFill="true" HorizontalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
                    <StackItem VerticalFill=false Align=Alignment.Center>
                        <Paginator Page=Page NextDisabled=!HaveNextPage OnPageChangeHandler=OnPageChangeHandler />
                    </StackItem>
                    <StackItem VerticalFill="false" Style="width:100%;">
                        <Stack VerticalFill="true" Horizontal="true" Wrap="true" HorizontalAlign=Alignment.SpaceEvenly Tokens=@(new StackTokens { ChildrenGap = new double[] { 50 } }) Style="margin:0;">
                            @if (AllCount == 0)
                            {
                                <MyBFUText>تخته‌ای وجود ندارد.</MyBFUText>
                            }
                            @for (int i = 0; i < WritepadList.Count; i++)
                            {
                                var writepad = WritepadList[i];

                                <StackItem VerticalFill="false">
                                    <DocumentCard Style="min-width:320px;">
                                        <Stack Horizontal="true" VerticalAlign=@Alignment.Center Tokens=@(new StackTokens { Padding = "8px 16px" }) Style=@($"font-size:{ThemeProvider.Theme.FontStyle.FontSize.XLarge};")>
                                            <StackItem Grow="1" DisableShrink="true" Tokens=@(new StackItemTokens { Margin = "0 0 0 50px" })>
                                                <MyBFUText Variant=@TextType.XLarge>تخته‌ی شماره‌ی @writepad.Id</MyBFUText>
                                            </StackItem>
                                            <StackItem>
                                                <MyBFUText Variant=@TextType.XLarge>
                                                    @{
                                                        string pointerTypeTooltip = string.Empty;
                                                        string pointerTypeIconName = string.Empty;
                                                        switch (writepad.PointerType)
                                                        {
                                                            case FProject.Shared.PointerType.Mouse:
                                                                pointerTypeTooltip = "موس";
                                                                pointerTypeIconName = "TouchPointer";
                                                                break;
                                                            case FProject.Shared.PointerType.Touchpad:
                                                                pointerTypeTooltip = "تاچ‌پد";
                                                                pointerTypeIconName = "TouchPointer";
                                                                break;
                                                            case FProject.Shared.PointerType.Pen:
                                                                pointerTypeTooltip = "قلم دیجیتالی";
                                                                pointerTypeIconName = "PenWorkspace";
                                                                break;
                                                            case FProject.Shared.PointerType.Touch:
                                                                pointerTypeTooltip = "لمس";
                                                                pointerTypeIconName = "Touch";
                                                                break;
                                                            case FProject.Shared.PointerType.TouchPen:
                                                                pointerTypeTooltip = "قلم لمسی";
                                                                pointerTypeIconName = "EditMirrored";
                                                                break;
                                                        }

                                                        string textTypeTooltip = string.Empty;
                                                        string textTypeIconName = string.Empty;
                                                        switch (writepad.Type)
                                                        {
                                                            case FProject.Shared.WritepadType.Text:
                                                                textTypeTooltip = "متن";
                                                                textTypeIconName = "TextDocument";
                                                                break;
                                                            case FProject.Shared.WritepadType.WordGroup:
                                                                textTypeTooltip = "گروه کلمات";
                                                                textTypeIconName = "TextBox";
                                                                break;
                                                            case FProject.Shared.WritepadType.Sign:
                                                                textTypeTooltip = "امضاء";
                                                                textTypeIconName = "InsertSignatureLine";
                                                                break;
                                                        }
                                                    }
                                                    <TooltipHost>
                                                        <TooltipContent>@pointerTypeTooltip</TooltipContent>
                                                        <ChildContent>
                                                            <Icon IconName=@pointerTypeIconName />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                    <TooltipHost>
                                                        <TooltipContent>@textTypeTooltip</TooltipContent>
                                                        <ChildContent>
                                                            <Icon IconName=@textTypeIconName />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                </MyBFUText>
                                            </StackItem>
                                        </Stack>
                                        <MyBFUText Block="true" Variant=@TextType.SmallPlus Style="padding:0 16px;min-height:4.847em;display:-webkit-box !important;-webkit-line-clamp:3;-webkit-box-orient:vertical;overflow:hidden;">
                                            @{
                                                var text = string.Empty;
                                                if (writepad.Type == FProject.Shared.WritepadType.WordGroup)
                                                {
                                                    text = writepad.Text.Content.Replace(" ", " - ");
                                                }
                                                else
                                                {
                                                    text = writepad.Text?.Content ?? "امضاء.";
                                                }
                                            }
                                            شماره‌ی تخته برای کاربر: @writepad.SpecifiedNumber
                                            <br />
                                            @*کاربر: <BlazorFluentUI.Link Href=@($"mailto:{writepad.Owner.Email}")>@writepad.Owner.Email</BlazorFluentUI.Link>*@
                                            کاربر: @writepad.Owner.Email
                                            <br />
                                            @text
                                        </MyBFUText>
                                        @{
                                            string statusIcon = string.Empty;
                                            switch (writepad.Status)
                                            {
                                                case FProject.Shared.WritepadStatus.Draft:
                                                    statusIcon = "PageEdit";
                                                    break;
                                                case FProject.Shared.WritepadStatus.WaitForAcceptance:
                                                    statusIcon = "DocumentSearch";
                                                    break;
                                                case FProject.Shared.WritepadStatus.Accepted:
                                                    statusIcon = "DocumentApproval";
                                                    break;
                                                case FProject.Shared.WritepadStatus.NeedEdit:
                                                    statusIcon = "PageEdit";
                                                    break;
                                            }
                                            string statusClass = writepad.Status switch
                                            {
                                                FProject.Shared.WritepadStatus.WaitForAcceptance => "status-waiting",
                                                FProject.Shared.WritepadStatus.Accepted => "status-accepted",
                                                FProject.Shared.WritepadStatus.NeedEdit => "status-neededit",
                                                _ => string.Empty,
                                            };
                                        }
                                        <DocumentCardStatus Status=@(writepad.Status.GetAttribute<DisplayAttribute>().Name) StatusIcon=@statusIcon ClassName=@statusClass Style=@($"font-weight:{ThemeProvider.Theme.FontStyle.FontWeight.Bold}") />
                                        <Stack Horizontal="true" VerticalAlign=@Alignment.Center Tokens=@(new StackTokens { Padding = "8px 16px" })>
                                            <StackItem Grow="1" DisableShrink="true">
                                                <TooltipHost>
                                                    <TooltipContent>آخرین بروزرسانی</TooltipContent>
                                                    <ChildContent>
                                                        <MyBFUText Variant=@TextType.Small>آ.ب: @writepad.LastModified.GetLocalTimeString()</MyBFUText>
                                                    </ChildContent>
                                                </TooltipHost>
                                            </StackItem>
                                            <StackItem>
                                                <Stack Horizontal="true" Reversed="true">
                                                    @if (writepad.Status == FProject.Shared.WritepadStatus.Accepted)
                                                    {
                                                        <TooltipHost>
                                                            <TooltipContent>رد</TooltipContent>
                                                            <ChildContent>
                                                                <Button ButtonType=ButtonType.Icon IsActing=ChangeStatusButtonIsActing OnClick=@(args => Reject(args, writepad)) IconName="Cancel" />
                                                            </ChildContent>
                                                        </TooltipHost>
                                                    }
                                                    else
                                                    {
                                                        <TooltipHost>
                                                            <TooltipContent>تایید</TooltipContent>
                                                            <ChildContent>
                                                                <Button ButtonType=ButtonType.Icon IsActing=ChangeStatusButtonIsActing OnClick=@(args => Approve(args, writepad)) IconName="Accept" />
                                                            </ChildContent>
                                                        </TooltipHost>
                                                    }
                                                    <TooltipHost>
                                                        <TooltipContent>بازبینی</TooltipContent>
                                                        <ChildContent>
                                                            <MyBFUIconButton OnClick=@(args => EditHandler(args, writepad.Id)) IconName="View" />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                    <TooltipHost>
                                                        <TooltipContent>حذف</TooltipContent>
                                                        <ChildContent>
                                                            <MyBFUIconButton OnClick=@(args => DeleteButtonHandler(args, writepad)) IconName="Delete" />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                    @{
                                                        string commentsIcon =
                                                            writepad.CommentsStatus == FProject.Shared.WritepadCommentsStatus.NewFromUser ? "CommentActive" : "Comment";
                                                    }
                                                    <TooltipHost>
                                                        <TooltipContent>پیام‌ها</TooltipContent>
                                                        <ChildContent>
                                                            <MyBFUIconButton OnClick=@(args => CommentsButtonHandler(args, writepad)) IconName=@commentsIcon />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                    <TooltipHost>
                                                        <TooltipContent>ارسال ایمیل</TooltipContent>
                                                        <ChildContent>
                                                            <MyBFUIconButton Href=@($"mailto:{writepad.Owner.Email}") IconName="Mail" />
                                                        </ChildContent>
                                                    </TooltipHost>
                                                </Stack>
                                            </StackItem>
                                        </Stack>
                                    </DocumentCard>
                                </StackItem>
                            }
                        </Stack>
                    </StackItem>
                    <StackItem VerticalFill=false Align=Alignment.Center>
                        <Paginator Page=Page NextDisabled=!HaveNextPage OnPageChangeHandler=OnPageChangeHandler />
                    </StackItem>
                </Stack>
            }
        </StackItem>
    </Stack>

    <MyBFUDialog Title="تایید حذف تخته"
                 SubText=@($"آیا از حذف تخته‌ی شماره‌ی {CurrentWritepad?.Id} اطمینان دارید؟")
                 IsOpen=@DeleteDialogOpen
                 OnDismiss=@(args => DeleteDialogOpen=false)
                 CloseButtonAriaLabel="بستن"
                 Style="text-align: right;">
        <ChildContent></ChildContent>
        <FooterTemplate>
            <DefaultButton Text="لغو" OnClick=@(args => DeleteDialogOpen=false) />
            <Button ButtonType=ButtonType.Primary IsActing=DeleteButtonIsActing Text="حذف" OnClick=DeleteWritepad />
        </FooterTemplate>
    </MyBFUDialog>

    <MyBFUDialog Title=@($"پیام‌های تخته‌ی {CurrentWritepad?.Id}")
                 IsOpen=@CommentsDialogOpen
                 OnDismiss=@(args => CommentsDialogOpen=false)
                 CloseButtonAriaLabel="بستن"
                 Style="text-align: right;">
        <ChildContent>
            <Stack HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
                @if (CurrentWritepad?.Comments.Count > 0)
                {
                    <StackItem Align=Alignment.Center Style="width:100%">
                        <CommentSection Comments="CurrentWritepad?.Comments" />
                    </StackItem>
                    <Hr />
                }
                <StackItem Align=Alignment.Center Style="width:100%">
                    <EditForm EditContext=CommentEditContext OnValidSubmit=SendCommentHandler>
                        <DataAnnotationsValidator />
                        <FluentUIValidationSummary />

                        <MyBFUTextField Multiline=true Label="متن پیام جدید" @bind-Value=@CommentDTO.Text @bind-Value:event="OnChange" />
                        <Button ButtonType=ButtonType.Submit IsActing=SendCommentButtonIsActing Text="ارسال پیام" />
                    </EditForm>
                </StackItem>
            </Stack>
        </ChildContent>
        <FooterTemplate></FooterTemplate>
    </MyBFUDialog>
</div>
