@using System.ComponentModel.DataAnnotations
@namespace FProject.Client.Pages

<Stack ClassName=@("panel" + (PanelCollapsed ? " panel-collapsed" : "")) Horizontal=true VerticalFill=true Reversed=true HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center>
    <StackItem>
        <Stack VerticalFill=true HorizontalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
            <StackItem VerticalFill=false Align=Alignment.Center Style="width: 100%;">
                <Stack Reversed=true Horizontal=true VerticalAlign=Alignment.Center>
                    <StackItem>
                        <TooltipHost>
                            <TooltipContent>اطلاعات تخته</TooltipContent>
                            <ChildContent>
                                <MyBFUIconButton Variant=TextType.Large IconName="Info" />
                            </ChildContent>
                        </TooltipHost>
                    </StackItem>
                    <StackItem Grow=1 Style="text-align:center;margin:0 5px;"><MyBFUText Variant=TextType.XLarge Style="white-space:nowrap;">تخته‌ی شماره‌ی @Parent.WritepadInstance.SpecifiedNumber</MyBFUText></StackItem>
                    <StackItem Tokens=@(new StackItemTokens { Padding = "0 4px" })>
                        @{
                            string pointerTypeTooltip = string.Empty;
                            string pointerTypeIconName = string.Empty;
                            switch (Parent.WritepadInstance.PointerType)
                            {
                                case FProject.Shared.PointerType.Mouse:
                                    pointerTypeTooltip = "موس";
                                    pointerTypeIconName = "TouchPointer";
                                    break;
                                case FProject.Shared.PointerType.Touchpad:
                                    pointerTypeTooltip = "تاچ‌پد";
                                    pointerTypeIconName = "TouchPointer";
                                    break;
                                case FProject.Shared.PointerType.Pen:
                                    pointerTypeTooltip = "قلم دیجیتالی";
                                    pointerTypeIconName = "PenWorkspace";
                                    break;
                                case FProject.Shared.PointerType.Touch:
                                    pointerTypeTooltip = "لمس";
                                    pointerTypeIconName = "Touch";
                                    break;
                                case FProject.Shared.PointerType.TouchPen:
                                    pointerTypeTooltip = "قلم لمسی";
                                    pointerTypeIconName = "EditMirrored";
                                    break;
                            }

                            string textTypeTooltip = string.Empty;
                            string textTypeIconName = string.Empty;
                            switch (Parent.WritepadInstance.Type)
                            {
                                case FProject.Shared.WritepadType.Text:
                                    textTypeTooltip = "متن";
                                    textTypeIconName = "TextDocument";
                                    break;
                                case FProject.Shared.WritepadType.WordGroup:
                                    textTypeTooltip = "گروه کلمات";
                                    textTypeIconName = "TextBox";
                                    break;
                                case FProject.Shared.WritepadType.Sign:
                                    textTypeTooltip = "امضاء";
                                    textTypeIconName = "InsertSignatureLine";
                                    break;
                            }
                        }
                        <MyBFUText Variant=@TextType.Large>
                            <TooltipHost>
                                <TooltipContent>@textTypeTooltip</TooltipContent>
                                <ChildContent>
                                    <Icon IconName=@textTypeIconName />
                                </ChildContent>
                            </TooltipHost>
                            <TooltipHost>
                                <TooltipContent>@pointerTypeTooltip</TooltipContent>
                                <ChildContent>
                                    <Icon IconName=@pointerTypeIconName />
                                </ChildContent>
                            </TooltipHost>
                        </MyBFUText>
                    </StackItem>
                </Stack>
            </StackItem>
            <Hr />
            <StackItem Grow=1 Align=Alignment.Center Style="overflow:auto;">
                <Stack VerticalFill="true" HorizontalAlign=Alignment.Center Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 } })>
                    <StackItem VerticalFill="false" Grow=1 Align=Alignment.Center>
                        <MyBFUText Block="true" Variant=@TextType.Medium
                                   Style=@($"text-align:justify;{(Parent.WritepadInstance.Type != FProject.Shared.WritepadType.Text ? "text-align-last:center;" : "")}")>
                            @{
                                var hand = Parent.WritepadInstance.Hand.GetAttribute<DisplayAttribute>().Name;
                                var pointerType = Parent.WritepadInstance.PointerType.GetAttribute<DisplayAttribute>().Name;
                                var textHeader = string.Empty;
                                switch (Parent.WritepadInstance.Type)
                                {
                                    case FProject.Shared.WritepadType.Text:
                                        textHeader = $"لطفا متن زیر را با <strong>{pointerType}</strong> و <strong>{hand}</strong> خود در تخته بنویسید:";
                                        break;
                                    case FProject.Shared.WritepadType.WordGroup:
                                        textHeader = $"لطفا کلمات زیر را هرکدام در <strong>خطی جداگانه</strong> و با رعایت <strong>فاصله‌ی مناسب از هم</strong>، با <strong>{pointerType}</strong> و <strong>{hand}</strong> خود در تخته بنویسید:";
                                        break;
                                    case FProject.Shared.WritepadType.Sign:
                                        textHeader = $"لطفا امضایتان را با <strong>{pointerType}</strong> و <strong>{hand}</strong> خود بکشید.<br />امضای رسم شده نباید با امضاهای قبلی مغایرت داشته باشد و همچنین امضای اصلیتان نباشد.";
                                        break;
                                }
                            }
                            @((MarkupString) textHeader)
                            <br />
                            <br />
                            @((MarkupString) (Parent.WritepadInstance.Text?.Content ?? string.Empty))
                        </MyBFUText>
                    </StackItem>
                    <Hr />
                    <StackItem VerticalFill=false Align=Alignment.Center ClassName="tips-container">
                        <div class="tips">
                            <MyBFUText Block="true" Variant=@TextType.Medium Style=@($"font-weight:{ThemeProvider.Theme.FontStyle.FontWeight.Bold};text-align:center;margin-bottom:7px;")>
                                نکات راهنما
                            </MyBFUText>
                            <MyBFUText Block="true" Variant=@TextType.Small>
                                <ul>
                                    <li>
                                        با استفاده از <b>نوع ورودی متفاوت از نوع ورودی تخته</b>، <b>کلیک راست موس</b> یا <b>دو انگشت همزمان</b> می‌توانید تخته را تکان دهید.
                                    </li>
                                    <li>
                                        کاربران گوشی همراه، احتمالا در حالت <b>افقی</b> تجربه‌ی بهتری خواهند داشت.
                                    </li>
                                    <li>
                                        <b>کلیدهای میانبر</b>: M جابجایی، D کشیدن، Ctrl+Z لغو عملیات آخر و Ctrl+Shift+Z برگرداندن عملیات آخر.
                                    </li>
                                </ul>
                            </MyBFUText>
                        </div>
                        <div class="phone-rotate">
                            <img src="/asset/images/phone rotate.png" height="100" alt="بهتر از است گوشی خود را افقی کنید." />
                        </div>
                    </StackItem>
                </Stack>
            </StackItem>
            <Hr />
            <StackItem VerticalFill=false Align=Alignment.Center Style="width: 100%;">
                <Stack Horizontal=true VerticalFill=true Reversed=true HorizontalAlign=Alignment.Center>
                    <StackItem Grow=1>
                        <Stack>
                            <StackItem>
                                <Stack Horizontal=true VerticalFill=true Reversed=true HorizontalAlign=Alignment.SpaceAround VerticalAlign=Alignment.Center>
                                    <StackItem VerticalFill=false>
                                        <MyBFUIconButton IconName="Undo" Disabled=UndoDisabled OnClick=@(args => UndoRedoHander()) />
                                    </StackItem>
                                    <StackItem VerticalFill=false>
                                        <MyBFUIconButton IconName="Redo" Disabled=RedoDisabled OnClick=@(args => UndoRedoHander(true)) />
                                    </StackItem>
                                </Stack>
                            </StackItem>
                            <StackItem>
                                <Stack Horizontal=true VerticalFill=true Reversed=true HorizontalAlign=Alignment.SpaceAround VerticalAlign=Alignment.Center>
                                    <StackItem VerticalFill=false>
                                        <MyBFUIconButton IconName="Edit" Disabled=!MoveDisabled OnClick=@(args => ChangeDefaultModeHandler(FProject.Shared.DrawingMode.Non)) />
                                    </StackItem>
                                    <StackItem VerticalFill=false>
                                        <MyBFUIconButton IconName="Move" Disabled=MoveDisabled OnClick=@(args => ChangeDefaultModeHandler(FProject.Shared.DrawingMode.Move)) />
                                    </StackItem>
                                </Stack>
                            </StackItem>
                        </Stack>
                    </StackItem>
                    <StackItem Style="margin-left:5px;">
                        <Stack VerticalFill=true HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center>
                            <StackItem>
                                <Toggle Disabled=@(Parent.AdminReview || Parent.WritepadInstance.Status == FProject.Shared.WritepadStatus.Accepted) InlineLabel="true" Checked=Parent.AutoSaveChecked Label="‌ذخیره‌ی خودکار" OffText=" " OnText=" " CheckedChanged=AutoSaveChangedHandler />
                            </StackItem>
                            <StackItem Style="width: 100%;">
                                <Button ButtonType=ButtonType.Primary ManualStateControl=true @ref="SaveButton" ShowDoneOnEnd=true Text="ذخیره" IconName="Save" Style="width: 100%;" Disabled=@(Parent.AdminReview || Parent.IsSaving || Parent.WritepadInstance.Status == FProject.Shared.WritepadStatus.Accepted) OnClick=@(args => Parent.SaveTimerElapsedHandler()) />
                            </StackItem>
                            <StackItem>
                                <TooltipHost Style="white-space:nowrap;">
                                    <TooltipContent>آخرین بروزرسانی</TooltipContent>
                                    <ChildContent>
                                        <MyBFUText Variant=@TextType.Tiny>آ.ب: @Parent.WritepadInstance.LastModified.GetLocalTimeString()</MyBFUText>
                                    </ChildContent>
                                </TooltipHost>
                            </StackItem>
                        </Stack>
                    </StackItem>
                </Stack>
            </StackItem>
        </Stack>
    </StackItem>
    <StackItem Style="margin-left:8px;">
        <hr style="height:100%;" />
    </StackItem>
    <StackItem ClassName="panel-collapse-section">
        <Stack VerticalFill=true HorizontalAlign=Alignment.Center VerticalAlign=Alignment.Center>
            <StackItem VerticalFill=false>
                <TooltipHost>
                    <TooltipContent>بازگشت به لیست تخته‌ها</TooltipContent>
                    <ChildContent>
                        <MyBFUIconButton Variant=TextType.Large IconName="AppIconDefaultList" OnClick=LeaveHandler />
                    </ChildContent>
                </TooltipHost>
            </StackItem>
            <StackItem Grow=1 Align=Alignment.Center>
                <Stack VerticalFill=true VerticalAlign=Alignment.Center>
                    <TooltipHost>
                        <TooltipContent>جمع/باز کردن پنل</TooltipContent>
                        <ChildContent>
                            <MyBFUIconButton ClassName="panel-open-close" Variant=TextType.XxLargePlus IconName="NavigationFlipper" OnClick=OpenCollapseHandler />
                        </ChildContent>
                    </TooltipHost>
                </Stack>
            </StackItem>
            <StackItem VerticalFill=false>
                <TooltipHost>
                    <TooltipContent>راهنما</TooltipContent>
                    <ChildContent>
                        <MyBFUIconButton Variant=TextType.Large IconName="HelpMirrored" OnClick=@(args => HelpDialogOpen = true) />
                    </ChildContent>
                </TooltipHost>
            </StackItem>
        </Stack>
    </StackItem>
</Stack>

<MyBFUDialog Title="عدم امکان ذخیره‌ی امضاء"
             IsOpen=@NotAllowedDialogOpen
             OnDismiss=@(args => NotAllowedDialogOpen=false)
             CloseButtonAriaLabel="بستن"
             Style="text-align: right;">
    <ChildContent>
        <p>نوشتن تخته‌ی امضاء با نوع ورودی و دست یکسان تنها ۷ عدد در هر ۱۲ ساعت مجاز است.</p>
    </ChildContent>
    <FooterTemplate></FooterTemplate>
</MyBFUDialog>

<MyBFUDialog Title="تایید ترک تخته بدون ذخیره‌ی آخرین تغییرات"
             IsOpen=@LeaveConfirmDialogOpen
             OnDismiss=@(args => LeaveConfirmDialogOpen=false)
             CloseButtonAriaLabel="بستن"
             Style="text-align: right;">
    <ChildContent>
        <p>آیا از ترک تخته بدون ذخیره‌ی آخرین تغییرات اطمینان دارید؟</p>
    </ChildContent>
    <FooterTemplate>
        <PrimaryButton Text="لغو ترک تخته" OnClick=@(args => LeaveConfirmDialogOpen=false) />
        <DefaultButton Text="ترک تخته" OnClick=@(args => Leave()) />
    </FooterTemplate>
</MyBFUDialog>

<MyBFUDialog Title="ویدیوی راهنمای سامانه"
             IsOpen=@HelpDialogOpen
             OnDismiss=HelpDismissHandler
             CloseButtonAriaLabel="بستن"
             Style="text-align:right;"
             ContainerClass="help-dialog">
    <ChildContent>
        <HelpVideo id="video" />
    </ChildContent>
    <FooterTemplate></FooterTemplate>
</MyBFUDialog>
