@using System.Security.Claims

<div class="sidebar" style="@Style">
    <Stack VerticalFill="true" Style="overflow-y:auto;" Tokens=@(new StackTokens { ChildrenGap = new double[] { 10 }, Padding = "5px 5px" })>
        <StackItem VerticalFill="false" Align="Alignment.Center" Style="text-align: center;">
            <Stack HorizontalAlign="Alignment.Center" VerticalAlign="Alignment.Center" Tokens=@(new StackTokens { ChildrenGap = new double[] { 25 }, Padding = "30px 0" })>
                <StackItem><MyBFUText Variant=TextType.XxLarge><MyBFULink Href="/index" OnClick=@OnLinkClickHandler Style="text-decoration:none;color:inherit;">سامانه‌ی جامع جمع‌آوری دادگان دست‌نوشته‌ی برخط فارسی</MyBFULink></MyBFUText></StackItem>
                <AuthorizeView>
                    <Authorized>
                        <StackItem>
                            <MyBFUText Variant=TextType.Large>
                                <Icon IconName="Contact" /> @context.User.FindFirstValue(ClaimTypes.Email)
                            </MyBFUText>
                            <br />
                            @if (AcceptedWordCount != -1)
                            {
                                var remainingWords = 300 - AcceptedWordCount;
                                <MyBFUText>
                                    تعداد کلمات تایید شده: @AcceptedWordCount.ToPersianNumber()
                                    <br />
                                    @if (remainingWords > 0) {
                                        @:(@remainingWords.ToPersianNumber() کلمه تا شرکت‌داده‌شدن در قرعه‌کشی)
                                    }
                                    else
                                    {
                                        @:(دارای @($"{Math.Min(5, AcceptedWordCount/200).ToPersianNumber()}") شانس قرعه‌کشی)
                                    }
                                </MyBFUText>
                            }
                        </StackItem>
                    </Authorized>
                </AuthorizeView>
            </Stack>
        </StackItem>
        <Hr />

        <StackItem VerticalFill="false" Grow="1">
            <BlazorFluentUI.Routing.Nav>
                <BlazorFluentUI.Routing.NavLinkGroup>
                    <AuthorizeView>
                        <Authorized Context="NavMenu">
                            <BlazorFluentUI.Routing.NavLink Name="تخته‌ها" Url="writepads" Id="writepads" IconName="WhiteBoardApp32" OnClick=@OnNavLinkClickHandler />
                            <AuthorizeView Roles="@IdentityRoleConstants.Admin">
                                <Authorized>
                                    <BlazorFluentUI.Routing.NavLink Name="تخته‌ها (صفحه‌ی مدیر)" Url="writepadsadmin" Id="writepadsadmin" IconName="WhiteBoardApp32" OnClick=@OnNavLinkClickHandler />
                                    <BlazorFluentUI.Routing.NavLink Name="ارسال ایمیل" Url="emailsender" Id="emailsender" IconName="SendMirrored" OnClick=@OnNavLinkClickHandler />
                                    <BlazorFluentUI.Routing.NavLink Name="ایجاد خروجی از داده‌ها" Url="export" Id="export" IconName="ExportMirrored" OnClick=@OnNavLinkClickHandler />
                                </Authorized>
                            </AuthorizeView>
                            <BlazorFluentUI.Routing.NavLink Name="ویرایش اطلاعات کاربری" Url="identity/profile" Id="identity/profile" IconName="AccountManagement" OnClick=@OnNavLinkClickHandler />
                            <BlazorFluentUI.Routing.NavLink Name="رتبه‌بندی" Url="ranking" Id="ranking" IconName="NumberedList" OnClick=@OnNavLinkClickHandler />
                        </Authorized>
                        <NotAuthorized>
                            <BlazorFluentUI.Routing.NavLink Name="ورود" Url="identity/login" Id="identity/login" IconName="Signin" OnClick=@OnNavLinkClickHandler />
                            <BlazorFluentUI.Routing.NavLink Name="ثبت‌نام" Url="identity/register" Id="identity/register" IconName="EditContact" OnClick=@OnNavLinkClickHandler />
                            <br />
                        </NotAuthorized>
                    </AuthorizeView>
                    @{
                        var remainingDays = (new DateTime(2021, 10, 31) - DateTime.UtcNow).Days;
                        if (remainingDays < 0)
                        {
                            remainingDays = (new DateTime(2021, 11, 7) - DateTime.UtcNow).Days;
                        }
                        var lotteryText = "قرعه‌کشی";
                        var lotteryColor = string.Empty;
                        if (remainingDays > -1)
                        {
                            lotteryText += $" (فرصت باقی‌مانده: {remainingDays} روز)";
                            lotteryColor = $"#ff{((int)Math.Round((float)(remainingDays) / 7 * 205)).ToString("x2")}00";
                        }
                    }
                    @if (!string.IsNullOrWhiteSpace(lotteryColor))
                    {
                        <style>
                            .lottery .ms-Icon, .lottery .ms-Nav-linkText {
                                color: @lotteryColor !important;
                            }
                        </style>
                    }
                    <BlazorFluentUI.Routing.NavLink Name=@lotteryText Url="lottery" Id="lottery" IconName="Giftbox" ClassName="lottery" OnClick=@OnNavLinkClickHandler />
                    <BlazorFluentUI.Routing.NavLink Name="راهنما" Url="help" Id="help" IconName="HelpMirrored" OnClick=@OnNavLinkClickHandler />
                    <AuthorizeView>
                        <Authorized Context="NavMenu">
                            <BlazorFluentUI.Routing.NavLink Name="خروج" Url="identity/logout" Id="identity/logout" IconName="SignOut" OnClick=@OnNavLinkClickHandler />
                        </Authorized>
                    </AuthorizeView>
                </BlazorFluentUI.Routing.NavLinkGroup>
            </BlazorFluentUI.Routing.Nav>
        </StackItem>

        <Hr />
        <StackItem VerticalFill="false" Align="Alignment.Center">
            <MyBFUText Block=true Style="text-align:center;">
                <DefaultButton ClassName="home" Href="/" IconName="Home" Text="بازگشت به صفحه‌ی معرفی" />
                <br />
                <br />
                <Icon ClassName="tg-icon" IconSrc="/asset/images/tg.svg" /> <MyBFULink Href="/tgchannel">@@FarsiHandwriting</MyBFULink>
                <br />
                <Icon IconName="Mail" /> <MyBFULink Href="mailto:info@farsihandwriting.ir">info@farsihandwriting.ir</MyBFULink>
                <br />
                @{
                    var version = typeof(Program).Assembly.GetName().Version;
                }
                <MyBFUText Variant="TextType.Small"><MyBFULink Href="/index" OnClick=@OnLinkClickHandler>v@(version)</MyBFULink></MyBFUText>
            </MyBFUText>
        </StackItem>
    </Stack>
</div>
